affine==2.4.0
esda==2.7.0
Flask==3.1.1
flask-cors==5.0.0
geopandas==1.1.1
libpysal==4.13.0
matplotlib==3.10.3
netCDF4==1.7.2
numpy==2.2.6
gdal==3.11.3
pandas==2.3.0
planetary-computer==1.0.0
pyDOE3==1.0.4
pykrige==1.7.2
pyproj==3.7.1
pysal==25.1
pystac-client==0.9.0
rasterio==1.4.3
requests==2.32.4
rioxarray==0.19.0
scikit-learn==1.7.0
scipy==1.16.0
shapely==2.1.1
tqdm==4.67.1
xarray==2025.7.1